<%
const baseMeta = {
  ttl: '入力ページ - EXPRESS-CRUD',
  desc: 'サンプルプロジェクトの入力ページです',
  url: 'index.ejs',
  path: '.'
};
%>
<%- include ('components/_header', {baseMeta}) %>
  <h1>EXPRESS-CRUD</h1>
  <form action="/" method="POST">
    <div>
      <label>name:</label><input type="text" name="name">
    </div>
    <div>
      <label>email:</label><input type="text" name="email">
    </div>
    <button type="submit">送信</button>
  </form>
</body>
</html>